:root {
    --main-brand-color: #297AE3; 
    --primary-color: #15171C;
    --secondary-color: #232933;
    --light-secondary-color: #2E3744;
    --text-color: white;
    --secondary-text-color: #B3B4B6;
}

*{
    margin: 0;
    padding: 0;
}


body{
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: sans-serif;
    font-size: 20px;
    color: var(--text-color);
}

h1{
    font-size: 100px;
    line-height: 115%;
}

h2{
    font-size: 80px;
    line-height: 215%;
    color: var(--main-brand-color);
}


.subheading{
    margin-top: 35px;
    color: var(--secondary-text-color)
}

#toggle_button{
    display: none;
    font-size: 40px;
}

@media (max-width: 800px) {
    h1{
        font-size: 12vw;
        text-align: center;
    }
    .subheading{
        text-align: center;
    }
}
